@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "GradeCalculator";
}

@model CalculatorModel
<h2>Grade Calculator</h2>
<form method="post">
    
    <label>Enter Assignments Grade</label><br />
    <input id="aGrade" type="number" asp-for="Assignment" />%
    <br />
    <label>Enter Group Project Grade</label><br />
    <input id="gGrade" type="number" asp-for="Group" />%
    <br />
    <label >Enter Quiz Grade</label><br />
    <input id="qGrade" type="number" asp-for="Quiz" />%
    <br />
    <label>Enter Midterm Grade</label><br />
    <input id="mGrade" type="number" asp-for="Midterm" />%
    <br />
    <label>Enter Final Exam Grade</label><br />
    <input id="fGrade" type="number" asp-for="Final" />%
    <br />
    <label>Enter Intex Grade</label><br />
    <input id="iGrade" type="number" asp-for="Intex" />%
    <br />
    <br />
    <input id="btnSend" type="submit" value="Submit" />
    <br />


    <div asp-validation-summary="All"></div>
</form>

<script src="~/js/JavaScript.js"></script>