@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My413Class";
}






<header>Jon Stauffer</header>
<h1>I LIKE THE OUTDOORS</h1>
<!-- photo i like to do -->
<img width="500" src="img/IMG_9762.jpg" />
<p>As a student of ASP.NET, I hope to gain a comprehensive understanding of building dynamic web applications using the Microsoft framework. I aim to learn about server-side scripting, MVC architecture, database integration, and deployment processes. Additionally, I hope to become proficient in C# programming language, which is the primary language used in ASP.NET development. By gaining hands-on experience with various tools and technologies, I hope to become a skilled full-stack web developer capable of creating robust and scalable web solutions.</p>
<p>Jobs I Can get in IS:</p>
<div class="customDiv">
    <ul>
        <li>Systems analyst</li>
        <li>Business analyst</li>
        <li>Database administrator</li>
    </ul>
</div>
<!-- form for grade calculator connect to JavaScript.js -->
    



<!-- different javascript used -->



