﻿body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*differn custom css*/
label {
    font-size: 20px;
    width: 250px;
    display: inline-block;
}


.customDiv{
    width: 25%
}
