<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <!--favicon -->
    <!-- css below -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/myStyleSheet.css" rel="stylesheet" />
</head>
<nav>
    <a asp-controller="First" asp-action="Index">Home</a>
    <a asp-controller="First" asp-action="Calculator">Grade Calculator</a>
</nav>
<body>

    <div>
        <center>
            @RenderBody()
        </center>
    </div>

    <footer>I Have finished the class</footer>
    
    <script src="~/lib/<a href=" c:\users\jonst\source\repos\mission4\mission4\views\shared\_layout.cshtml">c:\users\jonst\source\repos\mission4\mission4\views\shared\_layout.cshtml</a>boostrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
</body>
</html>
